.addJobContainer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.addText {
    color: #646464; /* Grey color for "Add" */
    }
    
    
    .researchText {
    color: #1E4D0F; /* Green color for "Research" */
    }
    
.subcontainerJob {

    /* max-width: 500px; */
    width: 50%;
    height: 100%;
    background-color: white;
    box-shadow: 0 20px 40px -20px rgba(14, 0, 47, 0.11);
    /* padding: 50px 35px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
}

.subcontainerJob h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    line-height: 42px;
    text-align: center;
    margin-bottom: 15px;
}

.addJobContainer  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    background-color: #e7e6e6;
    border-color: #1E4D0F;
    border-radius: 9px;
    padding: 15px 15px;
  }

.subcontainerJob label {
    /* color: #ffffff; */
    display: block;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    /* font-weight: bold; */
}

.subcontainerJob input {
    display: block;
    height: 30px;
    width: 80%;
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 300;
    margin: 0 30px 0 0;
    border:2px white;
    width: 120%;
}

.subcontainerJob textarea{
    display: block;
    height: 70px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 30px 0 0;
}


#addauthor{
    background-color: #78ee54;
    font-size: 15px;
    font-weight: 300;
    margin-left: 20px;
    padding:12px 12px;
    width:950;
}
#addauthor:hover{
    background-color: #269D00;
}
#submit{
    background-color: #269D00;
    font-size: 16px;
    font-weight: 600;
    width:80%;
    padding:12px 12px;
}
#submit, #addauthor{
    margin: 15px 0 10px 40px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border:none;
}

#submit:hover {
    background-color:#1E4D0F;
  color: #ffffff;
}

.subcontainerJob .errorLabel {
    margin-top: 10px;
    color: red;
    font-size: 10px;
}
.check {
    display: flex;
    align-items: center; 
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 8px; 
}
form > div > div {
    margin-bottom: 13px;
}