.addProfContainer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.addText {
    color: #646464; /* Grey color for "Add" */
    }
    
    
    .facultyText {
    color: #1E4D0F; /* Green color for "Research" */
    }
    

.subcontainerAdd {

    margin: 0;
line-height: 42px;
text-align: center;
margin-bottom: 20px;

}

.subcontainerAdd h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    line-height: 42px;
    text-align: center;
    margin-bottom: 10px;
}

.subcontainerAdd label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px; 
    /* for space betweent the text and corresponding input field */
    
}

.subcontainerAdd input {
    font-size: 14px;
font-weight: 300;
margin: 0 30px 0 0;

}

.subcontainerAdd button {
    margin: -3px 0px 0px 20px;
width: 90px;


background-color: #1E4D0F;
color: #ffffff;
padding: 6px 0;
font-size: 18px;
border-radius: 50px;

    }
    
.subcontainerAdd button:hover {
    background-color:#45a049 ;
color: #ffffff;

}

.subcontainerAdd .errorLabel {
    margin-top: 10px;
    color: red;
    font-size: 10px;
}

.addProfContainer  form {
    display: flex;
    /* flex-wrap: wrap; */
    
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  